#pattern {
    background-image: url(../images/pipes.png);
    background-repeat: repeat;
    overflow: hidden;
}

.card-img-overlay {
    position: absolute;
    top: 215px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;




